<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!-- Default dropup button -->
        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Additional Resources
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://www.serebii.net">Serebii</a></li>
                <li><a class="dropdown-item" href="https://www.smogon.com/dex/sv/pokemon/">Smogon Strategy Dex</a></li>
            </ul>
        </div>
        <a class="nav-link active" aria-current="page" href="/">Home Page</a>
</nav>