<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `New Review for ${pokemon.name} | ShinyDex`}) %>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><h1>ShinyDex</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Reviews</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <form class="container" method="POST" action="/review/create/<%= pokemon._id %>">
        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="name" class="form-label">Username</label>
                <input type="text" class="form-control validate" name="username" required>
            </div>
        
            <div class="mb-3">
                <label for="photo" class="form-label">Title of Review</label>
                <input type="text" class="form-control validate" id="photo" name="title" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Write your review here</label>
                <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" value="Create New Pokemon" type="submit">Submit</button>
        </div>
    </form>

    <%- include('./partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>