.bkgrd {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://images7.alphacoders.com/126/1261047.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.pageTitle {
    font-size: 56px;
}

.header {
    background: url('../assets/Test.png') 
}

.navbar-collapse {
    flex-grow: 0;
}

.button-details {
    text-decoration: none;
    color: white;
}

.card{
    border: 3px solid rgb(152,214,236);
}

.text-box {
    background-color: rgb(255,255,255,0.5);
    height: 650px;
}

.text-row {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    width: 180px;
}

.text-row p {
    font-size: 20px;
    margin-bottom: 0px;
}
